[color]
  # turn on color
  diff = auto
  status = auto
  branch = auto
  interactive = auto
[push]
	default = current
[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
  bd = for-each-ref --sort=-committerdate refs/heads/ --format="%(authordate:short)%09%(objectname:short)%09%1B[0;33m%(refname:short)%1B[m%09"
  ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
  la = "!git config -l | grep alias | cut -c 7-"
  cam = commit -a -m
  ano = commit -a --amend --no-edit
  rename = branch -M

[color]
    branch = auto
    diff = auto
    status = auto
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
[color "status"]
    added = yellow
    changed = green
    untracked = cyan
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[credential]
	helper = /usr/share/doc/git/contrib/credential/gnome-keyring/git-credential-gnome-keyring
[branch]
	autosetupmerge = true
[user]
	email = ian@falsepositives.com
	name = iirving
